<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="alphonso_store_setting" translate="label" type="text" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Alphonso Store Setting</label>
            <tab>general</tab>
            <resource>Roy_Nq::config_storeproductsetting</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Store Product Limits</label>
                <field id="productlimit" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Product Limit</label>
                    <comment>Number of products that can be purchased within 30 days</comment>
                </field>
            </group>
        </section>
    </system>
</config>
