<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout">
        <observer name="alphonso_customer_onepage_checkout" instance="Roy\Nq\Observer\CustomerCheckout" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="alphonso_customer_add_product_to_quote" instance="Roy\Nq\Observer\CustomerAddToQuote" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="alphonso_customer_add_product_to_quote" instance="Roy\Nq\Observer\CustomerAddToQuote" />
    </event>
    <event name="checkout_cart_product_add_before">
        <observer name="alphonso_customer_add_product_to_cart_before" instance="Roy\Nq\Observer\ForceCustomerLogin" />
    </event>
</config>
